#modal {
    align-items: center;
    background-color: rgba(30, 33, 36, 0.5);
    height: -webkit-fill-available;
    justify-content: center;
    position: absolute;
    width: -webkit-fill-available;
    z-index: 12;
}

#modal-main {
    align-items: center;
    background-color: #1e2124;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: flex-start;
    max-width: 800px;
    min-width: 600px;
    outline-color: #7289da;
    outline-style: outset;
    user-select: none;
}

#modal-content {
    border: 1px solid #7289da;
    display: flex;
    height: 380px;
    justify-content: center;
    overflow-x: auto;
    padding: 10px;
    width: 90%;
}

.modal-settings {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start !important;
    gap: 5px;
}

.modal-changelog {
    text-align: center;
    white-space: pre-wrap;
}

.modal-debug-tools {
    text-align: center;
    flex-direction: column;
    justify-content: flex-start !important;
    row-gap: 10px;
}

.modal-select-starter {
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: center;
    gap: 10px;
}

.modal-select-starter > div {
    display: flex;
    flex-direction: row;
}

.modal-select-starter > div > label {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
}

.modal-select-starter-disabled {
    filter: grayscale();
    pointer-events: none;
}

.modal-select-starter-active {
    background-color: rgb(154 205 50 / 50%);
}

.modal-settings-checkbox {
    cursor: pointer !important;
    height: max-content;
}