.toast-align {
    display: flex;
    align-items: center;
}

.toast-egg-icon {
    position: relative;
    width: 32px;
    height: 32px;
}

.toast-item-icon {
    position: relative;
    width: 32px;
    height: 32px;
}